

#cart {
     border: 1px solid red;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 20px;
     width: 98%;
}
#cart > div {
     border: 2px solid blue;
     text-align: center;
     font-weight: bold;
     /* height: 100px;
     width: 100px; */
}

img {
    height: 280px;
    width: 300px;
}

#checkout {
    padding: 5px 10px;
    background-color: lightslategray;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}